.otpContainer {
    display: flex;
    justify-content: space-between;
}

.otpInput {
    width: 46px;
    height: 52px;
    border: 1px solid #F3F4F9;
    border-radius: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    color: #090D20
}

.otpInput:focus {
    outline: none;
    border-color: #F3F4F9;
    box-shadow: none;
}


.resendText {
    text-transform: capitalize;
    line-height: 20.8px !important;
    font-size: 16px !important;
    text-align: right;
    margin-top: 25px !important;

}